*{
    margin:0;
    padding:0;
}

.container{
    margin:0 auto;
    width: 900px;
}

button{
    background-color: orange;
    padding:10px 30px;
}

.left-side{
    margin: 20px;
}

.right-side{
    margin-left: 250px;
}

#log{
    width: 70px;
    background-color: blue;
    border:none;
    box-shadow: 3px 3px black;
}
input{
    width: 300px;
    padding: 10px
}

.header{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightgrey;
    padding:30px;
}

.card1, .card2, .card3{
    margin:20px 20px 20px 0px;
    border: 2px solid black;
}

a{
    color:blue;
}

.col-1{
    flex:1;
}

.col-2{
    flex:2;
}

.row{
    display:flex;
}

.card1{
    width: 600px;
    height: 200px;
}

.card2{
    width: 600px;
    height: 200px;
    
}

.card3{
    height:160px;
    width: 250px;
}

#def{
    border: none;
    box-shadow: 4px 4px black;
    padding: 10px 20px;
    margin-left: 50px;

}
.dojo{
    font-size: 30px;
    margin:20px
}

#log{
    padding:10px 20px;
    align-items: center;
}